CONFIG_IDF_TARGET="esp32s2"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=6144
CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_FREERTOS_HZ=1000
CONFIG_LWIP_SO_REUSE=y
CONFIG_MBEDTLS_HKDF_C=y
CONFIG_FLIPFORGE_ACTIVITY_LED=y
# CONFIG_FLIPFORGE_DEBUG_METRICS is not set
# The ROM USB console does not reliably enumerate when USB is attached after
# the Devboard has booted from Flipper power. Use the TinyUSB CDC device stack.
CONFIG_ESP_CONSOLE_NONE=y
CONFIG_TINYUSB_CDC_ENABLED=y
